{% extends 'news/base.html' %} {% block content %}

<section class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li><a href="{% url 'about' %}">О компании</a></li>
          <li>{{title}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="about">
  <div class="container">
    <div class="col-md-12">
      <div class="about_info">
        <h1 class="news_title"><span>{{ title }}</span></h1>
      </div>
      <div class="about_wrap col-md-12">
        <img class="about_img" src="img/logo_pvlenrg.png" alt="" />
        <div class="about_descr">
          ТОО «Павлодарские тепловые сети» осуществляет передачу и распределение
          тепловой энергии для потребителей городов Павлодар и Экибастуз.
          Деятельность предприятия направлена на совершенствование
          эксплуатационной надежности тепловых сетей и обеспечение координации
          процессов выработки, передачи и потребления тепловой энергии.
        </div>
        <div class="about_descr">
          ТОО «Павлодарские тепловые сети» образовано и осуществляет свою
          деятельность в г. Павлодар с 28 сентября 2006 года.
        </div>
        <div class="about_descr">
          Всего тепловых сетей в городе Павлодаре 742,2 км, в том числе сетей
          потребителей 322,3 км. ТОО «Павлодарские тепловые сети» производит
          эксплуатацию тепловых сетей и сетей горячего водоснабжения
          протяженностью 419,9 км, из них:
          <ul class="about_descr_seti">
            <li>магистральных тепловых сетей — 115 км;</li>
            <li>квартальных тепловых сетей — 281,9 км;</li>
            <li>сетей горячего водоснабжения — 23,0 км;</li>
            <li>насосных станций — 11 шт.;</li>
            <li>центральных тепловых пунктов — 22 шт.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
