{% extends 'news/base.html' %} {% load static %} {% block content %}

<section class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li><a href="{% url 'about' %}">О компании</a></li>
          <li>{{title}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="info">
  <div class="container">
    <div class="col-md-12">
      <div class="info_head">
        <h3 class="news_title"><span>{{ title }}</span></h3>
      </div>
      <div class="col-md-12">
        <img
          class="info_img"
          src="{% static 'news/images/imanaev.jpg' %}"
          alt="Фото руководителя"
        />
        <div class="info_title">
          <h2 class="info_title_name">Иманаев Марат Шамильевич</h2>
          <h2 class="info_title_job">
            Генеральный директор ТОО «Павлодарские тепловые сети»
          </h2>
        </div>
        <div class="info_text">
          Иманаев Марат Шамильевич родился 22 мая 1969 года в городе Темиртау.
          Имеет высшее техническое образование, окончил Павлодарский
          государственный университет им. С. Торайгырова по специальности
          «Электроэнергетика». Трудовую деятельность начал в 1984 году с
          должности трубоукладчика 3-го разряда СУ «Земдорстрой» треста
          «Металлургжилстрой».

          <ul>
            <li>
              В 1998 году принят заместителем генерального директора по
              коммерции в ТОО «Компания ССL-Энерго».
            </li>
            <li>
              В 2000 году назначен генеральным директором ТОО
              «Теплоцентр-Северный». С 2002 года президент АО «Энергоцентр», с
              2005 года – президент АО «Павлодарэнергосервис».
            </li>
            <li>В 2007 году – директор ТОО «Экибастузские тепловые сети».</li>
            <li>
              С февраля 2008 года приступил к исполнению обязанностей президента
              АО «КОКШЕ».
            </li>
            <li>
              С 2010 года по апрель 2015 года – директор департамента управления
              ТЭК корпорации «Казахмыс».
            </li>
            <li>
              В июне 2015 года назначен генеральным директором ТОО "Павлодарские
              тепловые сети".
            </li>
            <li>
              В 2019 году присвоено звание «Заслуженный энергетик» Казахстанской
              Электроэнергетической Ассоциации.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
