{% extends 'news/base.html' %} {% block content %}

<section class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="{% url 'home' %}">Главная</a></li>
          <li>{{title}}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="tariff">
  <div class="container">
    <div class="col-md-12">
      <div class="tariff_head">
        <h1 class="news_title"><span>{{title}}</span></h1>
      </div>
      <div class="col-md-12">
        <div class="tariff_info">
          <h3>
            Объявление об уровнях тарифов на услуги по передаче и распределению
            тепловой энергии ТОО «Павлодарские тепловые сети» по г. Павлодару с
            1 января 2021 года по 31 декабря 2025 года
          </h3>
          <p>
            В соответствии с подпунктом 14) пункта 2 статьи 26 Закона Республики
            Казахстан «О естественных монополиях» от 27 декабря 2018 года №
            204-VI и пунктом 362 главы 12 Правил осуществления деятельности
            субъектами естественных монополий, утвержденных Приказом Министра
            национальной экономики Республики Казахстан от 13 августа 2019 года
            № 73, ТОО «Павлодарские тепловые сети» информирует о тарифе на
            услуги по передаче и распределению тепловой энергии с 1 января по 31
            декабря 2021 года, утвержденных приказом ДК РЕМ МНЭ РК по
            Павлодарской области №92-ОД от 27.11.2020 г. в следующем размере:
          </p>
          <table class="tariff_table table_info">
            <tbody>
              <tr>
                <th>
                  <p>Тарифы</p>
                </th>
                <th>
                  <p>Тенге/ Гкал</p>
                  <p>без НДС</p>
                </th>
              </tr>
              <tr>
                <td>
                  <p>с 1 января по 31 декабря 2021 года</p>
                </td>
                <td>
                  <p>2 062,51</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>с 1 января по 31 декабря 2022 года</p>
                </td>
                <td>
                  <p>2 265,92</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>с 1 января по 31 декабря 2023 года</p>
                </td>
                <td>
                  <p>2 433,08</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>с 1 января по 31 декабря 2024 года</p>
                </td>
                <td>
                  <p>2 527,29</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>с 1 января по 31 декабря 2025 года</p>
                </td>
                <td>
                  <p>2 653,63</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="acor-container">
          <input type="checkbox" name="chacor" id="chacor1" />
          <label for="chacor1">
            Объявление о снижении с 1 января 2020 года до 31 декабря 2020 года
            предельного уровня тарифов на услуги по передаче и распределению
            тепловой энергии ТОО «Павлодарские тепловые сети»
          </label>
          <div class="acor-body">
            <p>
              ТОО «Павлодарские тепловые сети» в соответствии п.10 «Правил
              повышения или снижения тарифов (цен, ставок сборов) или их
              предельных уровней на предоставляемые услуги (товары, работы)» от
              19.03.2005 года № 91-ОД и письмом ДК РЕМ и ЗК МНЭ РК № 2-07/3058
              от 24.12.2018г., доводит до Вашего сведения, что ГУ ДК РЕМ и ЗК
              МНЭ РК по Павлодарской области согласовал решение ТОО
              «Павлодарские тепловые сети» о снижении предельного уровня тарифов
              на услуги по передаче и распределению тепловой энергии с 1 января
              2020 года по 31 декабря 2020 года.
            </p>

            <table class="tariff_table">
              <tbody>
                <tr>
                  <th>
                    <p>№</p>
                    <p>п/п</p>
                  </th>
                  <th>
                    <p>Тарифы</p>
                  </th>
                  <th>
                    <p>Тенге/ Гкал</p>
                    <p>без НДС</p>
                  </th>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1</p>
                  </td>
                  <td>
                    <p>
                      Для потребителей с индивидуальными тепловыми пунктами
                      (ИТП)
                    </p>
                  </td>
                  <td>
                    <p>&nbsp;1 747,27</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 2</p>
                  </td>
                  <td>
                    <p>
                      Для потребителей с центральными тепловыми пунктами (ЦТП)
                    </p>
                  </td>
                  <td>
                    <p>1 749,88</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <input type="checkbox" name="chacor" id="chacor2" />
          <label for="chacor2">
            Объявление о снижении с 1 января 2020 года до 31 декабря 2020 года
            предельного уровня тарифов на услуги по передаче и распределению
            тепловой энергии ТОО «Павлодарские тепловые сети»
          </label>
          <div class="acor-body">
            <p>
              ТОО «Павлодарские тепловые сети» в соответствии п.10 «Правил
              повышения или снижения тарифов (цен, ставок сборов) или их
              предельных уровней на предоставляемые услуги (товары, работы)» от
              19.03.2005 года № 91-ОД и письмом ДК РЕМ и ЗК МНЭ РК № 2-07/3058
              от 24.12.2018г., доводит до Вашего сведения, что ГУ ДК РЕМ и ЗК
              МНЭ РК по Павлодарской области согласовал решение ТОО
              «Павлодарские тепловые сети» о снижении предельного уровня тарифов
              на услуги по передаче и распределению тепловой энергии с 1 января
              2020 года по 31 декабря 2020 года.
            </p>

            <table class="tariff_table">
              <tbody>
                <tr>
                  <th>
                    <p>№</p>
                    <p>п/п</p>
                  </th>
                  <th>
                    <p>Тарифы</p>
                  </th>
                  <th>
                    <p>Тенге/ Гкал</p>
                    <p>без НДС</p>
                  </th>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1</p>
                  </td>
                  <td>
                    <p>г. Павлодар</p>
                  </td>
                  <td>
                    <p>&nbsp;</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.1</p>
                  </td>
                  <td>
                    <p>- ИТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;854,08</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.2</p>
                  </td>
                  <td>
                    <p>- ЦТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;856,69</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <input type="checkbox" name="chacor" id="chacor3" />
          <label for="chacor3">
            Объявление о снижении с 1 января 2019 года до 31 декабря 2019 года
            предельного уровня тарифов на услуги по передаче и распределению
            тепловой энергии ТОО «Павлодарские тепловые сети»
          </label>
          <div class="acor-body">
            <p>
              ТОО «Павлодарские тепловые сети» в соответствии п.10 «Правил
              повышения или снижения тарифов (цен, ставок сборов) или их
              предельных уровней на предоставляемые услуги (товары, работы)» от
              19.03.2005 года № 91-ОД и письмом ДК РЕМ и ЗК МНЭ РК № 2-07/3058
              от 24.12.2018г., доводит до Вашего сведения, что ГУ ДК РЕМ и ЗК
              МНЭ РК по Павлодарской области согласовал решение ТОО
              «Павлодарские тепловые сети» о снижении предельного уровня тарифов
              на услуги по передаче и распределению тепловой энергии с 1 января
              2019 года по 31 декабря 2019 года.
            </p>

            <table class="tariff_table">
              <tbody>
                <tr>
                  <th>
                    <p>№</p>
                    <p>п/п</p>
                  </th>
                  <th>
                    <p>Тарифы</p>
                  </th>
                  <th>
                    <p>Тенге/ Гкал</p>
                    <p>без НДС</p>
                  </th>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1</p>
                  </td>
                  <td>
                    <p>г. Павлодар</p>
                  </td>
                  <td>
                    <p>&nbsp;</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.1</p>
                  </td>
                  <td>
                    <p>- ИТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;799,10</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.2</p>
                  </td>
                  <td>
                    <p>- ЦТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;801,96</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <input type="checkbox" name="chacor" id="chacor4" />
          <label for="chacor4">
            Объявление о введении в действие с 1 января 2019 года тарифов на
            услуги по передаче и распределению тепловой энергии ТОО
            «Павлодарские тепловые сети»
          </label>
          <div class="acor-body">
            <p>
              В соответствии с Приказами № 175 – ОД от 25.11.2015г. по г.
              Павлодару «Об утверждении предельного уровня тарифов и тарифных
              смет на услуги ТОО «Павлодарские тепловые сети» по передаче и
              распределению тепловой энергии» с 1 января 2019 года утверждены
              тарифные сметы и определены следующие предельные уровни тарифов:
            </p>

            <table class="tariff_table">
              <tbody>
                <tr>
                  <th>
                    <p>№</p>
                    <p>п/п</p>
                  </th>
                  <th>
                    <p>Тарифы</p>
                  </th>
                  <th>
                    <p>Тенге/ Гкал</p>
                    <p>без НДС</p>
                  </th>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1</p>
                  </td>
                  <td>
                    <p>г. Павлодар</p>
                  </td>
                  <td>
                    <p>&nbsp;</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.1</p>
                  </td>
                  <td>
                    <p>- ИТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;847,13</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.2</p>
                  </td>
                  <td>
                    <p>- ЦТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;849,96</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <input type="checkbox" name="chacor" id="chacor5" />
          <label for="chacor5">
            Объявление о снижении с 1 декабря 2018 года до 31 декабря 2018 года
            предельного уровня тарифов на услуги по передаче и распределению
            тепловой энергии ТОО «Павлодарские тепловые сети»
          </label>
          <div class="acor-body">
            <p>
              ТОО «Павлодарские тепловые сети» в соответствии п.10 «Правил
              повышения или снижения тарифов (цен, ставок сборов) или их
              предельных уровней на предоставляемые услуги (товары, работы)» от
              19.03.2005 года № 91-ОД и&nbsp; письмом ДК РЕМ и ЗК МНЭ РК&nbsp; №
              2-07/2563 от 06.11.2018г., доводит до Вашего сведения, что ГУ ДК
              РЕМ и ЗК МНЭ РК по Павлодарской области согласовал решение ТОО
              «Павлодарские тепловые сети»&nbsp; о снижении предельного уровня
              тарифов на услуги по передаче и распределению тепловой энергии с 1
              декабря 2018 года по 31 декабря 2018 года.
            </p>

            <table class="tariff_table">
              <tbody>
                <tr>
                  <th>
                    <p>№</p>
                    <p>п/п</p>
                  </th>
                  <th>
                    <p>Тарифы</p>
                  </th>
                  <th>
                    <p>Тенге/ Гкал</p>
                    <p>без НДС</p>
                  </th>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1</p>
                  </td>
                  <td>
                    <p>г. Павлодар</p>
                  </td>
                  <td>
                    <p>&nbsp;</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.1</p>
                  </td>
                  <td>
                    <p>- ИТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;709,63</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp; 1.2</p>
                  </td>
                  <td>
                    <p>- ЦТП</p>
                  </td>
                  <td>
                    <p>1&nbsp;712,15</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <input type="checkbox" name="chacor" id="chacor6" />
          <label for="chacor6">
            Объявление о введении в действие с 1 января 2018 года тарифов на
            услуги по передаче и распределению тепловой энергии ТОО
            «Павлодарские тепловые сети»
          </label>
          <div class="acor-body">
            <p>
              В соответствии с Приказами № 175 – ОД от 25.11.2015г. по г.
              Павлодару и № 176 - ОД от 25.11.2015г. по г. Экибастузу «Об
              утверждении предельного уровня тарифов и тарифных смет на услуги
              ТОО «Павлодарские тепловые сети» по передаче и распределению
              тепловой энергии» с 1 января 2018 года утверждены тарифные сметы и
              определены следующие предельные уровни тарифов:
            </p>

            <table class="tariff_table">
              <tbody>
                <tr>
                  <th>
                    <p>№</p>
                    <p>п/п</p>
                  </th>
                  <th>
                    <p>Тарифы</p>
                  </th>
                  <th>
                    <p>Тенге/ Гкал</p>
                    <p>без НДС</p>
                  </th>
                </tr>
                <tr>
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <p>г. Павлодар</p>
                  </td>
                  <td>
                    <p>&nbsp;</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1.1</p>
                  </td>
                  <td>
                    <p>- ИТП</p>
                  </td>
                  <td>
                    <p>1 754,66</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>1.2</p>
                  </td>
                  <td>
                    <p>- ЦТП</p>
                  </td>
                  <td>
                    <p>1 757,18</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>2</p>
                  </td>
                  <td>
                    <p>г. Экибастуз</p>
                  </td>
                  <td>
                    <p>2 585,27</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
